@import './standard/standard.css';

.lightThemeMove, .lightThemeMove * {
    stroke: black;
    stroke-width: 1.5;
}

.lightThemeMove:hover *{
    stroke: white;
    stroke-width: 3;
    color: white;
}