@import './standard/standard.css';

.lightThemeMove, .lightThemeMove * {
    stroke: black;
    stroke-width: 1.5;
}

.lightThemeMove:hover * {
    stroke: white;
    stroke-width: 4;
    color: white;
    font-weight: bold;
}

