.BoardContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--BoardWidth);
}

.Board, .promotion-board{
  user-select: none;
}

.Board{
  display: flex;
  flex-wrap: wrap;
  width: var(--BoardWidth);
  height: var(--BoardWidth);
  box-shadow: var(--sectionShadow);
}

.Board-top, .Board-bottom, .Result{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  background: rgba(128, 128, 128, 0.3);
  box-shadow: var(--sectionShadow);
  line-height: 1.5;
}

.Result{
  align-items: center;
  line-height: 2.5;
}



.Result{
  display: flex;
}
  
.promotion-board{
  position: relative;
  overflow: hidden; 
  transition: filter 0.3s;
}

.promotion-board::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  filter: grayscale(100%);
  transition: filter 0.3s;
  pointer-events: none;
}

.standardPromotionWhiteSideWhite,
.standardPromotionBlackSideBlack,
.standardPromotionWhiteSideBlack,
.standardPromotionBlackSideBlack,
.promotion-board::before,
img
{
  z-index: 1;
}

.dragable{
  z-index: 2;
}

.Square{
  display: flex;
  position: relative;
  width: 12.5%;
  height: 12.5%;
  /* z-index: -1; */
}

img{
  width: 100%;
  height: 100%;
}

.promotion-board > .Square > img {
  z-index: 0;
}

.coordRow, .coordCol{
  position: absolute;
  font-size: var(--CoordFontSize);
}

.coordCol{
  bottom: 0;
  right: 0;
}

