@import './variables.css';

.ButtonsContainer{
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1px #000;
    height: var(--MoveRowHeight);
    width: calc(100% - var(--ButtonsContainerPadding)*2);
    padding: var(--ButtonsContainerPadding);
}