@import './variables.css';

.ButtonsContainer{
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1px #000;
    height: var(--MoveRowHeight);
    width: calc(100% - var(--ButtonsContainerPadding)*2);
    padding: var(--ButtonsContainerPadding);
    gap: 10px;
}

.ButtonsContainer>button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.ButtonsContainer button:focus-visible{
    outline: none;
}

.MoveControlSvg > g{
    stroke: none;
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd
}

.MoveControlSvg > g > g{
    fill: #434343;
}

.ReverseIcon > g{
    fill: #434343;
    stroke-width: 100;
}

.player-container, .goTo, .ButtonsContainer > .goTo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.player-container:hover, .goTo:hover{
    cursor: pointer;
}

.player-container:active, .goTo:active{
    background-color: #2980b9;
}