@font-face{
    font-family: 'FreeSerif';
    src: url('../../fonts/FreeSerif/FreeSerif-4aeK.ttf');
}

@import './variables.css';

.MoveContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: var(--MoveList-margin);
    min-height: var(--MoveListContainerHeight);
    width: min(var(--MoveListWidth), var(--BoardWidth));
    box-shadow: var(--sectionShadow);
}

.MoveList{
    height: var(--MoveListHeight);
    overflow-x: auto;
    scroll-behavior: smooth;
}

.MovesCol{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.MoveRow{
    display: flex;
    width: 100%;
    min-height: var(--MoveRowHeight);
    flex-direction: row;
}

.RegularMoveContainer, .empty{
    display: flex;
    flex-direction: row;
    width: 50%;
    box-shadow: var(--moveRowShadow);
}

.RegularMoveContainer *, .VariantMove * {
    pointer-events: none;
}

.RegularMoveContainer:hover, .VariantMove:hover{
    background-color: rgba(0, 0, 255, 0.5);
    cursor: pointer;
}

.RegularMove{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: var(--moveRowPadding);
}

.RegularMove * {
    font-size: var(--RegularMoveFontSize);
}

.currMove {
    background-color: rgba(0, 0, 255, 0.2);
}

.currMove * {
    font-weight: bold;
}

.pieceContainer{
    padding-left: 5px;
}

.MoveNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 var(--moveRowPadding);
    background-color: var(--moveNumberColor);
}

.pieceContainer{
    display: inline-flex;
    align-self: center;
}

.Variants{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VariantLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--variantLineWidth);
    background-color: var(--variantColor);
    align-items: center;
    padding: 0 var(--variantLinePadding);
    box-shadow: var(--moveRowShadow);
}

.FromLine{
    font-weight: normal;
    font-size: var(--FromLineFontSize);
}

.VariantMove {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--MoveRowHeight);
}

.VariantMove .Notation{
    font-size: var(--VariantMoveFontSize);
    font-weight: bold;
    outline: 1px solid rgba(0, 0, 0, 0);
}

.VariantMoveNumber{
    margin-left: 5px;
}