@import './variables.css';

.MoveContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: var(--MoveList-margin);
    min-height: var(--MoveListContainerHeight);
    width: min(var(--MoveListWidth), var(--BoardWidth));
}

.MoveList{
    height: var(--MoveListHeight);
    overflow-x: auto;
    scroll-behavior: smooth;
}

.MoveRow{
    display: flex;
    width: 100%;
    min-height: var(--MoveRowHeight);
    flex-direction: row;
}

.MoveNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 var(--moveRowPadding);
    background-color: var(--moveNumberColor);
}

.FromLine{
    font-weight: normal;
    font-size: 9px;
    line-height: 1;
}

.MovesCol{
    display: flex;
    flex-direction: row;
    width: 90%;
}
  
.RegularMoveContainer, .empty{
    display: flex;
    flex-direction: row;
    width: 50%;
    box-shadow: var(--moveRowShadow);
}

.RegularMoveContainer *, .VariantMove * {
    pointer-events: none;
}

.VariantMove * {
    stroke-width: 4;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.RegularMoveContainer:hover, .VariantMove:hover{
    background-color: rgba(0, 0, 255, 0.5);
    cursor: pointer;
}

.RegularMove{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--moveRowPadding);
}

.RegularMove * {
    font-size: 16px;
}

.Variants{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VariantLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--variantLineWidth);
    background-color: var(--variantColor);
    align-items: center;
    padding: 0 var(--variantLinePadding);
    box-shadow: var(--moveRowShadow);
}

.VariantMoveNumber{
    margin-left: 5px;
}

.currMove {
    background-color: rgba(0, 0, 255, 0.2);
}

.currMove * {
    stroke-width: 4;
    font-weight: bold;
}

.VariantMove {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--MoveRowHeight);
}

.RegularMove {
    display: flex;
    align-items: center;
}



.svgContainer{
    display: inline-flex;
    align-self: center;
}

.svgContainer svg{
    height: 1em;
    width: 1em;
    top: 0.125em;
    position: relative;
}

.Notation{
    padding:0;
    position:relative;
    line-height: 1;
}