@import './variables.css';

.MoveList{
    border: 1px solid black;
    margin: var(--MoveList-margin);
    width: min(var(--MoveListWidth), var(--BoardWidth));
    min-height: var(--MoveListHeight);
    
    max-height: var(--BoardWidth);
    overflow-x: auto;
}

.MoveRow{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.MoveNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 var(--moveRowPadding);
    background-color: var(--moveNumberColor);
}

.FromLine{
    font-weight: normal;
    font-size: 9px;
    line-height: 1;
}

.MovesCol{
    display: flex;
    flex-direction: row;
    width: 90%;
}
  
.RegularMoveContainer, .empty{
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 1px solid black;
}

.RegularMoveContainer *, .VariantMove * {
    pointer-events: none;
}

.RegularMoveContainer:hover, .VariantMove:hover{
    background-color: rgba(0, 0, 255, 0.5);
    cursor: pointer;
}

.RegularMove{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--moveRowPadding);
}

.Variants{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VariantLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--variantLineWidth);
    background-color: var(--variantColor);
    align-items: center;
    padding: 0 var(--variantLinePadding);
}

.VariantMoveNumber{
    margin-left: 5px;
}

.currMove {
    background-color: rgba(0, 0, 255, 0.2);
}

.currMove * {
    stroke-width: 4;
    font-weight: bold;
}

.VariantMove{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem
}

.VariantMove * {
    stroke-width: 4;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}