@import './variables.css';

.SearchContainer{
    display: flex;
    gap: 20px;
    min-height: var(--searchBarMinHeight);
    margin-left: var(--board-margin);
    margin-top: var(--board-margin);
    width: var(--searchContainerWidth);
}

.SearchBar > input {
    min-width: var(--searchInputWidth);
    height: var(--searchInputHeight);
    padding: var(--searchInputPadding);
    border: var(--searchInputBorder);
    border-radius: 20px;
}

.SearchBar > input::placeholder{
    font-size: 0.7rem;
}

.SearchBar > input:focus, .select-group > select:focus{
    outline:none;
    box-shadow:1px 1px 1px 1px lightblue;
    border: blue;
}

.select-group>label{
    margin-bottom: 3px;
}

.SearchBar{
    position: relative;
    min-width: 60%;
}

.SearchButton{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.SearchButton > img{
    height: 50%;
}

.select-group{
    display: flex;
    flex-direction: column;
}

.titled-players{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.player-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.player-container:hover{
    cursor: pointer;
}

.player-container:active{
    background-color: #2980b9;
}

.player{
    text-wrap: wrap;
    padding: 10px;
}