:root{
    --board-margin: 30px;
    --MoveList-margin: 30px;
    --GameContainerMarginTop: 20px;
    --GameContainerMarginLeft: 13dvw;
    --GameContainerRemainingWidth: calc(100dvw - var(--GameContainerMarginLeft)*2);
    --GameContainerHeight: 80dvh;
    --BoardMaximumWidth: calc( (var(--GameContainerRemainingWidth) - var(--board-margin) * 2) );
    --BoardWidth: min(var(--BoardMaximumWidth), calc(var(--GameContainerHeight) - var(--board-margin) * 2));
    --CoordFontSizeMinimum: max(calc(var(--BoardWidth) * 0.035), 8px);
    --CoordFontSize: min(var(--CoordFontSizeMinimum), 15px);
    --MoveListWidth: calc(
      var(--GameContainerRemainingWidth) - var(--BoardWidth)
      - 2 * (var(--board-margin) + var(--MoveList-margin))
      );
    --MoveListHeight: calc(var(--GameContainerHeight) - 2 * var(--MoveList-margin));
    --moveRowPadding: 3px;
    --moveNumberColor: rgba(128, 128, 128, 0.3);
    --variantColor: rgba(128, 128, 128, 0.3);
    --variantLinePadding: 5px;
    --variantLineWidth: calc( 100% - var(--variantLinePadding) * 2 );
}