@import './themes/themes.css';
@import './css/board.css';
@import './css/moveList.css';
@import './css/buttons.css';
@import './css/search.css';
@import './css/table.css';
@import './css/modal.css';
@import './css/load.css';

body{
  font-family: 'FreeSerif', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.GameContainer{
  display: flex;
  border: 1px solid black;
  margin: var(--GameContainerMarginTop) var(--GameContainerMarginLeft);
  width: var(--GameContainerRemainingWidth);
  min-height: var(--GameContainerHeight);
}

.GameWrap{
  display: flex;
  flex-direction: column;
  margin: var(--board-margin);
  margin-top: 0;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.GameControls{
  display: flex;
  align-items: center;
  gap: var(--board-margin);
}



@media (max-width: 1360px){
  :root{
    --GameContainerMarginLeft: 20px;
  }
}

@media (max-width: 1120px){
  
  :root{
    --MoveListContainerHeight: var(--BoardWidth);
    --MoveListWidth: calc(var(--GameContainerRemainingWidth) - 2 *  var(--MoveList-margin));
  }

  .GameControls, .SearchContainer{
    flex-direction: column;
  }

  .MoveContainer{
    margin:0;
  }

  .Board, .SearchErrorContainer{
    align-self: center;
  }

  .SearchContainer{
    margin-left: 0;
  }
  
  .SearchContainer > .select-group, .SearchContainer > .SearchBar{
    min-width: 100%;
  }

  .SearchContainer > input{
    min-width: calc(100% - var(--searchInputBorder) * 2 - var(--searchInputPadding) * 2)
  }
  
  .select-group > select{
    height: 25px;
  }
}

@media (max-width: 360px){
  :root{
    --MoveRows: 7;
  }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape){
  :root{
    --BoardWidth: 220px;
    --MoveRows: 6;
  }
  .apiGame{
    min-height: 248px;
  }
  .GameContainer{
    margin: 0;
    width: 100%;
    justify-content: center;
    min-height: 100dvh;
    border: none;
  }

  .GameContainer * {
    font-size: 0.8rem;
  }

  .GameContainer .select-group{
    flex-direction: row;
    gap: 10px;
    width: auto;
  }

  .GameContainer .SearchBar{
    min-width: var(--BoardWidth);
  }

  .GameContainer .select-group> label{
    /* font-size: 1rem; */
  }

  .GameContainer .select-group> select{
    min-width: 120px;
  }
  .GameWrap, .MoveContainer, .SearchContainer{
    width: auto;
  }
  .GameWrap{
    gap: 15px;
  }
  .GameControls, .SearchContainer{
    flex-direction: row;
    gap: 20px;
  }

  .SearchErrorContainer{
    align-self: auto;
    margin-top: 10px;
  }
  .GameControls{
    align-items: stretch;
  }
  .BoardContainer{
    gap: 0;
  }
  .SearchErrorContainer, .UsersResults input {
    width: auto;
  }

  .UsersResults .select-group {
    min-width: 150px;
  }

}





