@import './themes/themes.css';
@import './Components/ComponentStyles/Board.css';
@import './Components/ComponentStyles/MoveList.css';

.GameContainer{
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-top: var(--GameContainerMarginTop);
  margin-bottom: var(--GameContainerMarginTop);
  margin-left: var(--GameContainerMarginLeft);
  margin-right: var(--GameContainerMarginLeft);
  width: var(--GameContainerRemainingWidth);
  min-height: var(--GameContainerHeight);
}

@media (max-width: 85em){
  :root{
    --GameContainerMarginLeft: 20px;
  }
}

@media (max-width: 70em){
  :root{
    --MoveListWidth: calc(var(--GameContainerRemainingWidth) - 2 *  var(--MoveList-margin));
  }
  .GameContainer{
    flex-direction: column;
  }
  .Board{
    align-self: center;
  }
}

@media (max-width: 20em){
  .Board{
    min-width: 200px;
    min-height: 200px;
    align-self: normal;
  }

  .MoveList{
    min-width: 200px;
  }

  .GameContainer{
    min-width: 300px;
    align-items: normal;
  }
}




