@import './themes/themes.css';
@import './Components/ComponentStyles/Board.css';
@import './Components/ComponentStyles/MoveList.css';
@import './Components/ComponentStyles/Buttons.css';
@import './Components/ComponentStyles/Search.css';
@import './Components/ComponentStyles/Table.css';
@import './Components/ComponentStyles/Modal.css';

body{
  font-family: 'FreeSerif', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.GameContainer{
  display: flex;
  border: 1px solid black;
  margin: var(--GameContainerMarginTop) var(--GameContainerMarginLeft);
  width: var(--GameContainerRemainingWidth);
  min-height: var(--GameContainerHeight);
}

.GameWrap{
  display: flex;
  flex-direction: column;
  margin: var(--board-margin);
  width: 100%;
  height: 100%;
  gap: 25px;
}

.GameControls{
  display: flex;
  align-items: center;
  gap: var(--board-margin);
}

@media (max-width: 1360px){
  :root{
    --GameContainerMarginLeft: 20px;
  }
}

@media (max-width: 1120px){
  
  :root{
    --MoveListContainerHeight: var(--BoardWidth);
    --MoveListWidth: calc(var(--GameContainerRemainingWidth) - 2 *  var(--MoveList-margin));
  }

  .GameControls, .SearchContainer{
    flex-direction: column;
  }

  .MoveContainer{
    margin:0;
  }

  .Board, .SearchContainer{
    align-self: center;
  }

 .SearchContainer{
    margin-left: 0;
  }
  
 .SearchContainer > .select-group, .SearchContainer > .SearchBar{
    min-width: 100%;
  }

  .SearchContainer > input{
    min-width: calc(100% - var(--searchInputBorder) * 2 - var(--searchInputPadding) * 2)
  }

  .select-group > select{
    height: 25px;
  }
}

@media (max-width: 360px){
  :root{
    --MoveRows: 7;
  }
  
}




